* {
	margin: 0;
	padding: 0;
}

header img {
	width: 100%;
}

h1 {
	text-align: center;	
}

section {
	width: 100%;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	margin-top: 20px;
}

table, td, th {
	border: 1px solid black;
}

th {
	background-color: #E6E6E6;
}

textarea {
	overflow-y: scroll;
}